
@import url('https://fonts.googleapis.com/css?family=Kalam&display=swap');
.address {
    text-align: center;
    width: 25%;
    height: 40%;
    margin: 0 auto;
    background-color: black;
    color: azure;
    float: left;
    border: 5px solid white;
    padding-top:  2%;
    margin-top: 100px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.9);
    font-family: 'Kalam', cursive;
    font-size: 25px;
}
.address-header {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    color: #444;
    box-shadow: 0 0 0 3px rgba(255, 0,0, 0.5);
}
.search {
    text-align: center;
    margin-top: 30px;
}
.btn-search{
   border: 1px solid black;
   width: 10%;
   background-color: lightgray;
   
}
.search-input {
    width: 20%;
}